<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{header::header}"></head>
<body>

<form action="#" th:action="@{/cliente/atualizar/{id}(id=${cliente.id})}" th:object="${cliente}" method="post">
    <label>Nome</label>
    <input type="text" th:field="*{nome}" id="nome" />

    <label>Email</label>
    <input type="text" th:field="*{email}" id="email" />

    <label>CPF</label>
    <input type="text" th:field="*{cpf}" id="cpf" />

    <label>Data de Nascimento</label>
    <input type="text" th:field="*{dataNascimento}" id="dataNascimento" />

    <input type="submit" value="Editar Cliente">
</form>

</body>
</html>