<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{header::header}"></head>

<body>
<a class="btn btn-primary"  href="/cliente/adicionar">Criar novo cliente</a>

<table class="table table-striped">
    <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Email</th>
        <th>CPF</th>
        <th>Data de Nascimento</th>
        <th>Ações</th>
    </tr>
    <tr th:each="cliente: ${listaCliente}">
        <td th:text="${cliente.id}"></td>
        <td th:text="${cliente.nome}"></td>
        <td th:text="${cliente.email}"></td>
        <td th:text="${cliente.cpf}"></td>
        <td th:text="${cliente.dataNascimento}"></td>
        <td>
            <a th:href="@{/cliente/excluir/{id}(id=${cliente.id})}">Excluir</a>
            <a th:href="@{/cliente/editar/{id}(id=${cliente.id})}">Editar</a>

        </td>
    </tr>
</table>

</body>
</html>