<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{header::header}"></head>

<body>

<form action="#" th:action="@{/cliente/salvar}" th:object="${cliente}" method="post">
    <div class="mb-3">
        <label class="form-label">Nome</label>
        <input type="text" th:field="*{nome}" id="nome" class="form-control" />
        <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" class="form-text"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="text" th:field="*{email}" id="email" class="form-control" />
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="form-text"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">CPF</label>
        <input type="text" th:field="*{cpf}" id="cpf" class="form-control" />
        <span th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}" class="form-text"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Data de Nascimento</label>
        <input type="text" th:field="*{dataNascimento}" id="dataNascimento" class="form-control" />
        <span th:if="${#fields.hasErrors('dataNascimento')}" th:errors="*{dataNascimento}" class="form-text"></span>
    </div>
    <input type="submit" value="Criar Cliente" class="btn btn-primary">
</form>
</body>
</html>